*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Roboto';
}

a{
	color: white;
}

#banner{
	width: 900px;
	margin: auto;
}

a:hover{
	color: black;
}
.menu{
	width:100%;
	height:50px;
	background-color: #222;
	font-family: 'Roboto';
	}
	
.menu>ul{
	list-style:none;	
	position:relative;
	margin-left:50px;
	}
.menu ul li{
		width:150px;
		float:left;
	}

.menu a{
	padding:15px;
	display:block;
	text-decoration: none;
	background-color: #222;
	text-align:center;
	}
.menu ul ul{
	list-style:none;
	position:absolute;
	visibility:hidden;
	
	}
.menu ul li:hover ul{
	visibility:visible;
	}
	
.menu a:hover{
	background-color:#f4f4f4;
	}

.menu ul ul li{
	float:none;
	border-bottom: solid 1px #ccc;
	}
.menu ul ul li a{
	background-color:red;
	}
#bt_menu{
	display: none;
	}
label[for='bt_menu']{
	padding:5px;
	background-color:#222;
	color:#fff;
	font-family:'Arial';
	text-align:center;
	font-size:30px;
	cursor:pointer;
	display:none;
	width:50px;
	height:50px;
	}	
label[for='bt_menu']:hover{
	background-color:#f4f4f4;
	color:#aaa;
	}
@media (max-width: 800px) {
.menu{
	margin-left:-100%;
	transition:all .4s;
	}
label[for='bt_menu']{
	display:block;
	}
.menu>ul{
	margin-left:0;
	}
.menu{
	margin-top:5px;
	}
.menu ul li{
	width:100%;
	float:none;
	}
.menu ul ul{
	position:static;
	overflow:hidden;
	max-height:0;
	transition:all .4s;
	}
.menu ul li:hover ul{
	height:auto;
	max-height:200px;
	transition:all .4s;
	}
#bt_menu:checked ~ .menu{
	margin-left:0;
	}
}

#cab{
	float: left;
	width: 100%;
	background-color: black;

}

#logo img{
	margin-right: 200px;
	float: right;
	/*margin-left: 200px;*/
	height: 100px;
}

#nome{
	font-size: 30px;
	margin-top: 15px;
	float: right;
	color: white;
	margin-right: 15%;
	color: yellow;
	font-family: 'Lucida Calligraphy';
}
#areaprincipal{
	margin: auto;
	width: 960px;
	height: auto;
}

#titulo{
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
}
#center{
	margin: auto;
	text-align: center;
	color: white;
}

#banner img{
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	padding-top: 5px;
	width: 100%;
}

#noticia{
	color: grey;
	width: 80%;
	/*text-align: center;*/
	margin: auto;
}

#bloco{
	margin-bottom: 50px;
	margin: 9px;
	float: left;
	text-align: center;
	/*border: 1px solid grey;*/
	width: 300px;
}

#blocoprop{
	margin-bottom: 50px;
	margin: 9px;
	float: left;
	text-align: center;
	/*border: 1px solid grey;*/
	width: 300px;
}

#bloco h3{
	font-size: 30px;
}

#blocoprop h3{
	font-size: 30px;
}

#areagal{
	margin-top: 100px;
	background-color: #FDF5E6;
	/*border: 1px solid grey;*/
}

#areagal a img{
	margin: 8px;
	max-width: 301px;
	margin-bottom: 0;
}

.amarelo{
	margin: auto;
	text-align: center;
	color: orange;
}

#clique{
	padding: 20px;
	color: white;
	background-color: black;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
}

#clique a:hover{
	color: yellow;
}


a{
	color: white;
}

#depoimentos{
	background-color: black;
	width: 100%;
	height: 400px;
}

#depoimentos h3{
	color: white;
	padding-top: 70px;
}

footer{
	width: 100%;
	height: 60px;
	background-color: #696969;
}

#rodapeesquerdo{
	margin-left: 100px;
	margin-top: 20px;
	float: left;
}

#rodapedireito{
	margin-right: 100px;
	margin-top: 20px;
	float: right;
}

@media screen and (max-width: 574px){
	#cab{
		position: absolute;
		top: 0;
		min-width: 70%;
	}

	.menu{
		z-index: 1;
	}


	#logo{
		float: left;
	}

	#logo img{
		margin-left: 37%;
		float: left;

	}

	#banner{
		margin-top: 460px;

	}

	#banner img{
		max-width: 100%;
		margin: auto;
	}

	#areaprincipal{
		max-width: 90%;
	}

	html{
		font-size: 16px;
	}

	#areagal{
		margin-top: 750px;
	}

	#areagal a img{
		min-width: 375px;
	}

	#blocoprop{
		margin-left: 50px;
	}

	#problema{
		margin-top: 100px;
	}
	
	footer{
		min-height: 200px;
	}

	#rodapedireito{
		text-align: center;
		margin-left: 90px;
	}

	#rodapeesquerdo{
		text-align: center;
		margin-top: 60px;
		margin-left: 20px;
	}

	#nome{
		font-family: 'Lucida Calligraphy';
		font-size: 40px;
		text-align: center;
		margin-bottom: 150px;
		top: 0;
		float: left;
		margin-left: 45%;
	}
}